html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas {
    width: 100%;
    height: 100%;
    border: solid 1px silver;
}
div#debug {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: right;
    width: 10em;
}
